.be-in-touch {
  max-width: 280px;
}

.be-in-touch__link {
  height: 46px;
  width: 200px;
  border: 1px solid rgba($basic-accent-violet, 0.34);
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
